body {
    font-family: 'Trebuchet MS', Trebuchet, Arial, sans-serif;
    font-size: 2em;
    transition: all .1s ease-in;
    margin: 0em;
    background-color: #3B3F45;
}

.wrapper {
    height: 100%;
    margin: 0 auto;
    border: 1em solid #FFFFFF;
    background-color: #3B3F45;

}

header,
footer {
    background-color: #4A4F56;
    color: #EB7E7F;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
}

header {
    line-height: 0.5em;
}

section {
    color: #EDEDED;
    margin: 3em auto;
    width: 75em;
}

section li:nth-child(odd) {
    background-color: #88839E;
}

section li:nth-child(even) {
    background-color: #7A7593;
}

ul {
    list-style: none;
}

.list-item {
    display: flex;
    height: 3em;
    align-items: center;
}

label {
    flex-grow: 1;
    align-self: stretch;
    display: flex;
    align-items: center;
}

.list-item:hover {
    background-color: #625E77;
    border-top: 0.3em solid #F5F4F6;
    border-bottom: 0.3em solid #F5F4F6;
}

input[type="checkbox"]:checked+label {
    text-decoration: line-through;
    color: #B2B2B2;
}

.list-item:active {
    background-color: #EA857C;
}

#pickle+label::after {
    content: "(for the next lessons about CSS)";
    color: #B2B2B2;
    font-size: 0.6em;
    margin-left: 0.5em;
}

#apple+label::after {
    content: "(for more CSS manipulations)";
    color: #B2B2B2;
    font-size: 0.6em;
    margin-left: 0.5em;
}

#orange+label::after {
    content: "(because they are awesome)";
    color: #B2B2B2;
    font-size: 0.6em;
    margin-left: 0.5em;
}

#plate+label::after {
    content: "(hm.. they always disappear)";
    color: #B2B2B2;
    font-size: 0.6em;
    margin-left: 0.5em;
}

#sake+label::after {
    content: "(for my friends)";
    color: #B2B2B2;
    font-size: 0.6em;
    margin-left: 0.5em;
}

footer {
    width: 75em;
}